<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 head (css link 등) -->
<th:block th:replace="main/fragment/head :: headFragment"></th:block>

<!-- body -->
<body id="page-top">
<div id="wrapper">
    <!-- 상단바-->
    <th:block th:replace="main/fragment/topbar :: topbarFragment"></th:block>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" style="display: flex; flex-direction: row;">
            <div style="display: flex; flex-direction: column; width: 100%;">
                <!-- 검색바 -->
                <!-- 본문-->
                <th:block layout:fragment="content"></th:block>
            </div>
        </div>
        <!-- 공통 하단 (footer) -->
        <th:block th:replace="main/fragment/footer :: footerFragment"></th:block>
    </div>
</div>

<!-- 공통 script-->
<th:block th:replace="main/fragment/script :: scriptFragment"></th:block>
</body>
</html>