<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout(categoryList)"
      layout:decorate="main/layout/layout">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <section class="food_section layout_padding-bottom">
            <div class="container">
                <div class="heading_container heading_center">
                    <h2 style="margin-top: 20px;">
                        Books
                    </h2>
                </div>

                <ul class="filters_menu">
                    <li class="active" data-filter=".recentlyPublished">이 주의 도서</li>
                    <li data-filter=".mostLike">독자의 선택</li>
                    <li data-filter=".bestSeller">역대 베스트 셀러</li>
                </ul>

                <div class="filters-content">
                    <div class="row grid">
                        <!-- 이 주의 도서 -->
                        <th:block th:if="${recentlyPublishedBookList != null}" th:each="book : ${recentlyPublishedBookList}">
                            <th:block th:replace="main/fragment/itembox :: itemFragment ('recentlyPublished', ${book})"></th:block>
                        </th:block>

                        <!-- 독자의 선택 -->
                        <th:block th:if="${mostLikeBookList != null}" th:each="book : ${mostLikeBookList}">
                            <th:block th:replace="main/fragment/itembox :: itemFragment ('mostLike', ${book})"></th:block>
                        </th:block>

                        <!-- 역대 베스트 셀러 -->
                        <th:block th:if="${bestSellerBookList != null}" th:each="book : ${bestSellerBookList}">
                            <th:block th:replace="main/fragment/itembox :: itemFragment ('bestSeller', ${book})"></th:block>
                        </th:block>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
</html>