<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout(categoryList)"
      layout:decorate="main/layout/layout">

<th:block layout:fragment="content">
    <script th:inline="javascript">
        /* 에러 메시지 */
        var errorMessage = /*[[${errorMessage}]]*/ null;
        if(errorMessage) {
            alert(errorMessage);
        }
        /* 성공 메시지 */
        var successMessage = /*[[${successMessage}]]*/ null;
        if(successMessage) {
            alert(successMessage);
        }
    </script>
    <div class="ml-3 mb-3">
        <button type="button" class="btn btn-danger" onclick="deleteMemberGradePolicy()">삭제</button>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="text-center mb-5">회원 등급 정책</h2>
                <div class="d-flex justify-content-end mb-3">
                    <a class="btn btn-primary mx-1">등록</a>
                </div>
                <div class="text-center mb-5">
                    <table id="pointDetailTable" class="table table-bordered table-striped centered-table">
                        <thread>
                            <tr>
                                <td>Check Box</td>
                                <td>기준 시작 금액</td>
                                <td>기준 종료 금액</td>
                                <td>적립 비율</td>
                                <td>편집</td>
                            </tr>
                        </thread>
                        <tbody>
                        <!-- Thymeleaf를 사용하여 반복문 처리 -->
                        <tr th:each="memberGradePolicy, no : ${memberGradePolicyList}">
                            <td><input type="checkbox" th:value="${memberGradePolicy.policyId}" th:id="'policyCheckbox_' + ${memberGradePolicy}" name="policyCheckbox" class="policyCheckbox"></td>
                            <td th:text="${memberGradePolicy}"></td>
                            <td th:text="${memberGradePolicy.startAmount}"></td>
                            <td th:text="${memberGradePolicy.endAmount}"></td>
                            <td th:switch="${memberGradePolicy.rate}"></td>
                            <td><button>수정</button><button>삭제</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="/" class="btn btn-secondary">메인 화면 바로가기</a>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>