<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout/layout">

<th:block layout:fragment="content">
    <script th:inline="javascript">
        /* 에러 메시지 */
        var errorMessage = /*[[${errorMessage}]]*/ null;
        if(errorMessage) {
            alert(errorMessage);
        }
        /* 성공 메시지 */
        var successMessage = /*[[${successMessage}]]*/ null;
        if(successMessage) {
            alert(successMessage);
        }
    </script>
    <div class="ml-3 mb-3">
        <button type="button" class="btn btn-danger" onclick="deleteSelectedPolicies()">삭제</button>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="text-center mb-5">회원 등급 정책</h2>
                <div class="d-flex justify-content-end mb-3">
                    <a class="btn btn-primary mx-1">등록</a>
                </div>
                <div class="text-center mb-5">
                    <table id="pointDetailTable" class="table table-bordered table-striped centered-table">
                        <thread>
                            <tr>
                                <td>Check Box</td>
                                <td>기준 시작 금액</td>
                                <td>기준 종료 금액</td>
                                <td>적립 비율</td>
                                <td>편집</td>
                            </tr>
                        </thread>
                        <tbody>
                        <!-- Thymeleaf를 사용하여 반복문 처리 -->
                        <tr th:each="memberGradePolicy, no : ${memberGradePolicyList}">
                            <td><input type="checkbox" th:value="${no}" th:id="'policyCheckbox_' + ${memberGradePolicy}" name="policyCheckbox" class="policyCheckbox"></td>
                            <td th:text="${memberGradePolicy.grade}"></td>
                            <td th:text="${memberGradePolicy.startAmount}"></td>
                            <td th:text="${memberGradePolicy.endAmount}"></td>
                            <td th:switch="${memberGradePolicy.rate}"></td>
                            <td><button>삭제</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="/" class="btn btn-secondary">메인 화면 바로가기</a>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        function selectOnlyOneCheckbox() {
            var checkboxes = document.getElementsByClassName('policyCheckbox');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].onclick = function() {
                    for (var j = 0; j < checkboxes.length; j++) {
                        if (checkboxes[j] != this) {
                            checkboxes[j].checked = false;
                        }
                    }
                };
            }
        }

        function deleteSelectedPolicies() {
            var selectedCheckbox = document.querySelector('input[name="policyCheckbox"]:checked');
            if (selectedCheckbox) {
                alert("회원 등급을 삭제하시겠습니까?");
                var selectedPolicyId = selectedCheckbox.value;
                window.location.href = '/admin/member-grade-policies/' + selectedPolicyId + '/delete';
            } else {
                alert("회원 등급을 선택하세요.");
            }
        }

        window.onload = function() {
            selectOnlyOneCheckbox();
        };
    </script>
</th:block>
</html>