<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/layout/mypageLayout">

<th:block layout:fragment="content">
    <script th:inline="javascript">
        /* 메시지*/
        var message = /*[[${message}]]*/ null;
        if(message) {
            alert(message);
        }
    </script>
    <div class="container mt-5">
        <h1>주문 목록</h1>
        <div class="row mt-5">
            <div class="col-md-4">
                <h5><i>주문번호: 111-1250912120</i></h5>
            </div>
            <div class="col-md-4 text-right">
                <a href="#">주문 상세 조회 ></a>
            </div>
            <div class="card mb-3 col-md-8">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class="square-img"
                             src="#"
                             alt="상품 이미지">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">배송 완료 <small> (배송 예정일: 2024-05-01) </small></h5>
                            <p class="card-text">상품명: 내 몸에 꼭 맞는 사상체질 건강요리 - 태양인 이제마의 사상체질의 실용서 </p>
                            <p class="card-text">상품 가격: 20000</p>
                            <div class="ml-auto mt-5">
                                <button class="btn btn-outline-danger">주문 취소</button>
                                <button class="btn btn-outline-dark">환불하기</button>
                                <!-- TODO : 리뷰 작성 테스트를 위해 임의로 button onClick 지정, 추후에 코드 변경시 주문상품의 bookId에 맞게 변경해야함-->
<!--                                <button class="btn btn-outline-dark" onclick="location.href='/reviews/register?bookId=3&orderDetailId=3'">리뷰 작성하기</button>-->
                                <button class="btn btn-outline-dark" th:onclick="|location.href='@{/reviews/register(bookId=${100}, orderDetailId=${137})}'|">리뷰 작성하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <h5><i>주문번호: 111-1250912120</i></h5>
            </div>
            <div class="col-md-4 text-right">
                <a href="#">주문 상세 조회 ></a>
            </div>

            <div class="card mb-3 col-md-8">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class="square-img"
                             src="#"
                             alt="상품 이미지">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">배송 중<small> (배송 예정일: 2024-05-20) </small></h5>
                            <p class="card-text">상품명: 요리하는 다이어터의 맛있게 살 빼는 다이어트 레시피</p>
                            <p class="card-text">상품 가격: 10,000원</p>
                            <div class="ml-auto mt-5">
                                <button class="btn btn-outline-danger">주문 취소</button>
                                <button class="btn btn-outline-dark">환불하기</button>
                                <button class="btn btn-outline-dark">리뷰 작성하기</button>
                                <!-- TODO : 리뷰 작성 테스트를 위해 임의로 button onClick 지정, 추후에 코드 변경시 주문상품의 bookId에 맞게 변경해야함-->
                                <button class="btn btn-outline-dark" th:onclick="|location.href='@{/reviews/register(bookId=${150}, orderDetailId=${139})}'|">리뷰 작성하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>
</html>
