<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/layout/mypageLayout">

<th:block layout:fragment="content">

    <div class="container mt-5">
        <h1>회원 기본 정보</h1>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">아이디</th>
                <td th:text="${myPageInfoViewDto.getAccountId()}"></td>
            </tr>
            <tr>
                <th scope="row">비밀번호</th>
                <td>
                    <form id="passwordForm" action="/member/password" method="post" onsubmit="return validateForm()">
                        <small>현재 비밀번호</small>
                        <input type="password" class="form-control mb-2" name="currentPassword" id="currentPassword">
                        <small>변경할 비밀번호</small>
                        <input type="password" class="form-control mb-2" name="newPassword" id="newPassword">
                        <small>변경할 비밀번호 다시 입력</small>
                        <input type="password" class="form-control" name="confirmNewPassword"
                               id="confirmNewPassword"><br/>
                        <button class="btn btn-outline-primary" type="submit">비밀번호 변경</button>

                        <div class="alert alert-danger mt-2" id="passwordError" style="display: none;" role="alert">
                            변경할 비밀번호가 일치하지 않습니다.
                        </div>

                        <div class="alert alert-danger mt-2" id="emptyFieldError" style="display: none;" role="alert">
                            입력되지 않은 항목이 있습니다.
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <th scope="row">이메일</th>
                <td th:text="${myPageInfoViewDto.getEmail()}"></td>
            </tr>
            <tr>
                <th scope="row">휴대폰 번호</th>
                <td th:text="${myPageInfoViewDto.getPhone()}"></td>
            </tr>
            <tr>
                <th scope="row">기본 배송지</th>
                <td>
                    <div class="row">
                        <div class="col-md-5">
                            <select th:if="${myPageInfoViewDto.getAddressList().isEmpty()}"
                                    class="form-control" disabled>
                                <option th:text="'등록된 주소가 없습니다.'"></option>
                            </select>

                            <select th:unless="${myPageInfoViewDto.getAddressList().isEmpty()}"
                                    class="form-control" id="address">
                                <option th:each="address : ${myPageInfoViewDto.getAddressList()}"
                                        th:value="${address}"
                                        th:text="${address}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button th:if="${myPageInfoViewDto.getAddressList().isEmpty()}"
                                    class="btn btn-outline-primary" disabled>기본주소 변경
                            </button>

                            <button th:unless="${myPageInfoViewDto.getAddressList().isEmpty()}"
                                    class="btn btn-outline-primary">기본주소 변경
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        function validateForm() {
            let newPassword = document.getElementById("newPassword").value;
            let confirmNewPassword = document.getElementById("confirmNewPassword").value;
            let currentPassword = document.getElementById("currentPassword").value;
            let errorElement = document.getElementById("passwordError");
            let emptyFieldErrorElement = document.getElementById("emptyFieldError");
            let isValid = true;

            if (newPassword === '' || confirmNewPassword === '' || currentPassword === '') {
                emptyFieldErrorElement.style.display = "block";
                isValid = false;
            } else {
                emptyFieldErrorElement.style.display = "none";
            }

            if (newPassword !== confirmNewPassword) {
                errorElement.style.display = "block";
                isValid = false;
            } else {
                errorElement.style.display = "none";
            }

            return isValid;
        }
    </script>
</th:block>
</html>
