<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/layout/mypageLayout">

<th:block layout:fragment="content">

    <div class="container mt-5">
        <h1>회원 기본 정보</h1>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">아이디</th>
                <td th:value="${myPageInfoViewDto.getAccountId()}"></td>
            </tr>
            <tr>
                <th scope="row">비밀번호</th>
                <td>
                    <small>현재 비밀번호</small>
                    <input type="password" class="form-control mb-2" id="currentPassword">
                    <small>변경할 비밀번호</small>
                    <input type="password" class="form-control mb-2" id="newPassword">
                    <small>변경할 비밀번호 다시 입력</small>
                    <input type="password" class="form-control" id="confirmNewPassword"><br/>

                    <button class="btn btn-outline-primary">비밀번호 변경</button>
                </td>
            </tr>
            <tr>
                <th scope="row">이메일</th>
                <td th:text="${myPageInfoViewDto.getEmail()}"></td>
            </tr>
            <tr>
                <th scope="row">휴대폰 번호</th>
                <td th:text="${myPageInfoViewDto.getPhone()}"></td>
            </tr>
            <tr>
                <th scope="row">기본 배송지</th>
                <td>
                    <div class="row">
                        <div class="col-md-5">
                            <select th:if="${myPageInfoViewDto.getAddressList().isEmpty()}"
                                    class="form-control" disabled>
                                <option th:text="'등록된 주소가 없습니다.'"></option>
                            </select>

                            <select th:unless="${myPageInfoViewDto.getAddressList().isEmpty()}"
                                    class="form-control" id="address">
                                <option th:each="address : ${myPageInfoViewDto.getAddressList()}"
                                        th:value="${myPageInfoViewDto}"
                                        th:text="${myPageInfoViewDto}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button th:if="${myPageInfoViewDto.getAddressList().isEmpty()}"
                                    class="btn btn-outline-primary" disabled>기본주소 변경
                            </button>

                            <button th:unless="${myPageInfoViewDto.getAddressList().isEmpty()}"
                                    class="btn btn-outline-primary">기본주소 변경
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>
