<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
<head>
    <meta charset="utf-8"/>
    <link
            rel="icon"
            href="https://static.toss.im/icons/png/4x/icon-toss-logo.png"
    />
    <link rel="stylesheet" type="text/css" href="/assets/toss/style.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>토스페이먼츠 샘플 프로젝트</title>
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
</head>
</th:block>
</html>