<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/main/css/bootstrap.css}"/>
    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css}" />
    <!-- nice select  -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css}" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link th:href="@{/assets/main/css/font-awesome.min.css}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link th:href="@{/assets/main/css/style.css}" rel="stylesheet" />
    <!-- responsive style -->
    <link th:href="@{/assets/main/css/responsive.css}" rel="stylesheet" />

    <!-- Sidebar 관련 css -->
    <!-- Favicons -->
    <link th:href="@{/assets/main/images/book-icon.png}" rel="icon">
    <link th:href="@{/assets/admin/img/apple-touch-icon.png}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/admin/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/admin/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/admin/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/admin/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/admin/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/admin/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/admin/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/admin/css/style.css}" rel="stylesheet">

    <!-- 도서 상세 페이지 관련 CSS -->
    <!-- Bootstrap icons-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css}" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/assets/main/css/detail_page.css}" rel="stylesheet" />

    <title> t3t-bookstore </title>
</head>
</th:block>
</html>