<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="searchbarFragment">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card p-3  py-4">
                    <h5>찾고 싶으신 도서가 있으신가요?</h5>
                    <form th:action="@{${categoryId != null} ? '/category/' + ${categoryId} + '/search' : '/search'}" method="get">

                        <div class="row g-3 mt-2">
                            <div class="col-md-3">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                        통합검색
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="setSearchType('all')">
                                                통합검색</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="setSearchType('book_name')">
                                                책이름</a></li>
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="setSearchType('publisher_name')">
                                                출판사</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="setSearchType('participant_name')">
                                                참여자</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="도서 검색하기" id="searchQueryInput" th:name="query" required autocomplete="off">
                                <div id="autocompleteResults" class="autocomplete-items"></div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-secondary btn-block">검색하기</button>
                            </div>
                        </div>
                        <input type="hidden" id="searchTypeInput" name="searchType" value="all" />
                        <input type="hidden" id="categoryIdInput" name="categoryId" value="" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/main/js/elastic.js}"></script>
    <link th:href="@{/assets/main/css/elastic.css}" rel="stylesheet">
</th:block>
</html>