<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout/layout">

    <th:block layout:fragment="content">
        <section class="section dashboard">
            <div class = "position-relative">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); z-index: 999; display: flex; justify-content: center; align-items: start;">
                <p style="margin-top: 300px; color: white; font-size: 30px;">준비중입니다...</p>
            </div>
<!--            <div class="row">-->
<!--                &lt;!&ndash; Left side columns &ndash;&gt;-->
<!--                <div class="col-lg-8">-->
<!--                    <div class="row">-->
<!--                        &lt;!&ndash; 상단 정보 card&ndash;&gt;-->
<!--                        <th:block th:replace="admin/fragment/dashboard/informationCard :: informationCardFragment"></th:block>-->
<!--                        &lt;!&ndash; Reports &ndash;&gt;-->
<!--                        <th:block th:replace="admin/fragment/dashboard/reports :: reportFragment"></th:block>-->
<!--                        &lt;!&ndash; Recent Sales &ndash;&gt;-->
<!--                        <th:block th:replace="admin/fragment/dashboard/recentSale :: recentSaleFragment"></th:block>-->
<!--                        &lt;!&ndash; Top Selling &ndash;&gt;-->
<!--                        <th:block th:replace="admin/fragment/dashboard/topSelling :: topSellingFragment"></th:block>-->
<!--                    </div>-->
<!--                </div>&lt;!&ndash; End Left side columns &ndash;&gt;-->

<!--                &lt;!&ndash; Right side columns &ndash;&gt;-->
<!--                <div class="col-lg-4">-->
<!--                    &lt;!&ndash; Recent Activity &ndash;&gt;-->
<!--                    <th:block th:replace="admin/fragment/dashboard/recentActivitiy :: recentActivityFragment"></th:block>-->

<!--                    &lt;!&ndash; Budget Report &ndash;&gt;-->
<!--                    <th:block th:replace="admin/fragment/dashboard/budgetReport :: budgetReportFragment"></th:block>-->

<!--                    &lt;!&ndash; Website Traffic &ndash;&gt;-->
<!--                    <th:block th:replace="admin/fragment/dashboard/websiteTraffic :: websiteTrafficFragment"></th:block>-->

<!--                    &lt;!&ndash; News & Updates Traffic &ndash;&gt;-->
<!--                    <th:block th:replace="admin/fragment/dashboard/newsTraffic :: newsTrafficFragment"></th:block>-->
<!--                </div>-->
<!--            </div>-->
            </div>
        </section>
    </th:block>
</html>