<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout/layout">

    <th:block layout:fragment="content">
        <section class="section dashboard">
            <div class = "position-relative">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); z-index: 999; display: flex; justify-content: center; align-items: start;">
                <p style="margin-top: 300px; color: white; font-size: 30px;">준비중입니다...</p>
            </div>
            <div class="row">
                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">
                        <!-- 상단 정보 card-->
                        <th:block th:replace="admin/fragment/dashboard/informationCard :: informationCardFragment"></th:block>
                        <!-- Reports -->
                        <th:block th:replace="admin/fragment/dashboard/reports :: reportFragment"></th:block>
                        <!-- Recent Sales -->
                        <th:block th:replace="admin/fragment/dashboard/recentSale :: recentSaleFragment"></th:block>
                        <!-- Top Selling -->
                        <th:block th:replace="admin/fragment/dashboard/topSelling :: topSellingFragment"></th:block>
                    </div>
                </div><!-- End Left side columns -->

                <!-- Right side columns -->
                <div class="col-lg-4">
                    <!-- Recent Activity -->
                    <th:block th:replace="admin/fragment/dashboard/recentActivitiy :: recentActivityFragment"></th:block>

                    <!-- Budget Report -->
                    <th:block th:replace="admin/fragment/dashboard/budgetReport :: budgetReportFragment"></th:block>

                    <!-- Website Traffic -->
                    <th:block th:replace="admin/fragment/dashboard/websiteTraffic :: websiteTrafficFragment"></th:block>

                    <!-- News & Updates Traffic -->
                    <th:block th:replace="admin/fragment/dashboard/newsTraffic :: newsTrafficFragment"></th:block>
                </div>
            </div>
            </div>
        </section>
    </th:block>
</html>