<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="categoryModalFragment">
        <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="categoryModalLabel">카테고리 선택</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table id="categoryTable" class="table ">
                                <thead class="table-light">
                                <tr>
                                    <th>CheckBox</th>
                                    <th>Depth</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div id="category_pagination">
                            </div>
                            <div id="selectedCategoryInModal">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>