<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="memberModalFragment">
    <div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="memberModalLabel">회원 선택</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" id="memberSearchInput" class="form-control" placeholder="회원 검색">
                        <button class="btn btn-outline-secondary" type="button" id="searchButton">검색</button>
                    </div>
                    <div>
                        <table id="memberTable" class="table">
                            <thead class="table-light">
                            <tr>
                                <th>선택</th>
                                <th>id</th>
                                <th>이름</th>
                                <th>이메일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            </tr>
                            </tbody>
                        </table>
                        <div id="member_pagination">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>