<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="publisherModalFragment">
        <div class="modal fade" id="publisherModal" tabindex="-1" aria-labelledby="publisherModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="publisherModalLabel">출판사 선택</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table id="publisherTable" class="table">
                                <thead class="table-light">
                                <tr>
                                    <th>CheckBox</th>
                                    <th>Publisher ID</th>
                                    <th>Publisher Name</th>
                                    <th>Publisher Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div id="publisher_pagination">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>