<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebarFragment" id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#book-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>도서 관리</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="book-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin"> <!-- TODO : URL 수정 -->
                        <i class="bi bi-circle"></i><span>전체 도서 목록 조회</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/books/new">
                        <i class="bi bi-circle"></i><span>도서 등록하기(직접 등록)</span>
                    </a>
                </li>
                <li>
                    <a href="/admin"> <!-- TODO : URL 수정 -->
                        <i class="bi bi-circle"></i><span>도서 등록하기(open API 사용)</span>
                    </a>
                </li>
                <li>
                    <a href="/admin"> <!-- TODO : URL 수정 -->
                        <i class="bi bi-circle"></i><span>도서 태그 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin"> <!-- TODO : URL 수정 -->
                        <i class="bi bi-circle"></i><span>도서 카테고리 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin"> <!-- TODO : URL 수정 -->
                        <i class="bi bi-circle"></i><span>도서 출판사 정보 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin"> <!-- TODO : URL 수정 -->
                        <i class="bi bi-circle"></i><span>도서 참여자 정보 관리</span>
                    </a>
                </li>
                <li>
                    <a href="/admin"> <!-- TODO : URL 수정 -->
                        <i class="bi bi-circle"></i><span>도서 참여자 역할 정보 관리</span>
                    </a>
                </li>
            </ul>
        </li>
        <!--쿠폰 관리-->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#coupon-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>쿠폰 관리</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="coupon-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/coupons/register">
                        <i class="bi bi-circle"></i><span>쿠폰 발급</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/coupons/usageHistory"> <!-- TODO : URL 수정 -->
                        <i class="bi bi-circle"></i><span>쿠폰 이력 조회</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#example-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Example</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="example-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/">
                        <i class="bi bi-circle"></i><span>Example 1</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="bi bi-circle"></i><span>Example 2</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
</html>
