<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="tagModalFragment">
    <div class="modal fade" id="tagModal" tabindex="-1" aria-labelledby="tagModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tagModalLabel">태그 선택</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <table id="tagTable" class="table">
                            <thead class="table-light">
                            <tr>
                                <th>CheckBox</th>
                                <th>tag ID</th>
                                <th>tag Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div id="tag_pagination">
                        </div>
                        <div id="selectedTagInModal">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>